name: validate
on:
  schedule:
    - cron: '0 0 * * 0' # every Sunday at midnight
  push:
    branches:
      - 'main'
  pull_request:
    branches:
      - '*'
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:
concurrency:
  group: ${{ github.ref }}

jobs:
  validate:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest, macos, windows]
    steps:
      - uses: actions/checkout@v4
      - name: RageAgainstThePixel/setup-ovr-platform-util
        uses: ./
      - run: 'ovr-platform-util version'
